useDynLib(Rindsel, .registration=TRUE)
importFrom("Hmisc", "lme4", "MASS", "openxlsx")
export(Adjcovs,
      AdjBlup,
      adjmeans,
      CovMol,
      data_initialization,
      BLPSI,
      PPGLPSI,
      ESIMIndex,
      fCovariances,
      gCovariances,
      GEBV,
      ReadTestingLGSI,
      GenRelLGSI,
      GEBVLGSI,
      geCovariances,
      GenRel,
      GESIMIndex,
      IndCoef,
      IndexName,
      KNGSIIndex,
      KNIndex,
      LGSI,
      LTIndex,
      Means,
      MeansBP,
      MESIMIndex,
      Read,
      ReadMarkers,
      ReadQTL,
      Readrest,
      Readsgn,
      Readwgt,
      RESIMIndex,
      RGESIMIndex,
      PlotResp,
      SGSIIndex,
      SmithIndex,
      Stan,
      TallisIndex,
      TGESIMIndex,
      TGSIIndex,
      TraitsSelect)
